# GrapesJS Studio SDK license key for the demo's "GrapesJS Studio" mode.
#
# Create a free license at https://app.grapesjs.com and register your deploy
# domain (e.g. grapesjs-a11y-seo.netlify.app) on it. Any value works on
# localhost. This client key is domain-locked, so it is not a secret.
#
# Local:   copy this file to .env and set the value below.
# Netlify: set VITE_STUDIO_LICENSE in Site settings → Environment variables.
VITE_STUDIO_LICENSE=
